:root {
  color-scheme: light dark; /* enable light-dark for system theme */
  background-color: transparent;
}

#tidybirdPane {
  padding: 6px;
  margin: 0;
  overflow: auto;
}

.tidybird-header {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: larger;
}
.tidybird-button {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 3px;
  margin-left: 0;
  height: auto;
  min-height: unset;
  padding-top: 1px;
  padding-right: .25em;
  padding-bottom: 1px;
  padding-left: .25em;
}
.tidybird-folder-move-button {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  align-content: center;
}

.hidden {
  display: none;
}

.tidybird-folder-move-button-label-1 {
  padding: 0;
  font-weight: bold;
  text-align: left;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.tidybird-folder-move-button-label-2 {
  text-align: right;
  vertical-align: bottom;
  font-size: 0.8em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

/*
 * in the main interface, the css uses context-fill and context-stroke
 * to put the colors on the css "content" in the image
 * this does not work in the extensions, so we do it this way
 */
.tidybird-folder-move-button > svg > path[fill=context-fill]{
  fill: color-mix(in srgb, var(--tidybird-thread-pane-unread-fill) 50%, transparent);
}
.tidybird-folder-move-button > svg > path[fill=context-stroke]{
  fill: var(--tidybird-thread-pane-unread-stroke);
}
/*
.tidybird-folder-move-button-label-1::after {
  content: url("chrome://messenger/skin/icons/new/unread-dot.svg");
}
*/

/* vi: set tabstop=2 shiftwidth=2 softtabstop=2 expandtab: */
